@font-face {
    font-family: 'orange_juiceregular';
    src: url('../../fonts/orange-juice-2.0-webfont.woff2') format('woff2'),
         url('../../fonts/orange-juice-2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'orange_juiceregular' !important;
}

.jumbotron-fluid {
    margin-top: 0px;
    height: 20x;
}
.container{
    margin-top: 0px;
}
.jumbotron  {
    background-color: white;
    height: 30px;
    line-height: 5px;
    margin-top: 0px;
}
.display-4{
    font-size: 82px;
    font-family: 'ticketing';
}
.lead {
    margin-top: 10px;
    font-family: 'ticketing';
    font-style: bolder;
}


