.linkstr {
    border: 6px grey outset;
    border-spacing: 2%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.linkstr:hover {
    border: 6px grey inset;
}
h1{
    font:  74px;
}