.linkstr {
    border: 8px grey outset;
    border-spacing: 2%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 15px;
    font-family:'ticketingregular';
    font-size: 20px;
}
.linkstr:hover {
    border: 8px grey inset;
    border-spacing: 2%;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    border-radius: 15px;
    font-family:'ticketingregular';
    font-size: 20px;
}
h1{
    font:  54px;
    margin-top: 35px;
}
p{
    font-family: 'ticketingregular';
}