.nav{
    margin-top: 5px;
}
.nav-item dropdown:hover {
    color: black;
}
button {
    width: 30px;
    display: inline-flex;
    background: #42afe3;
    color: #fff;
    padding: 0 10px;
    border-radius: 0 3px 3px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    border: 3px solid #42afe3;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}
